%h1 Listing students

%table.records
  %thead
    %tr
      %th Name
      %th Email
      %th Grade
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.email
        %td= student.grade
        %td= link_to 'Show', student
        -if can? :update, student
          %td= link_to 'Edit', edit_student_path(student)
        -if can? :destroy, student
          %td= link_to 'Destroy', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
-if can? :create, @students
  = link_to 'New Student', new_student_path
