%h1 Listing groups

%table.records
  %thead
    %tr
      %th Name
      %th Date
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.date
        %td= link_to 'Show', group
        -if can? :update, group
          %td= link_to 'Edit', edit_group_path(group)
        -if can? :destroy, group
          %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
-if can? :create, @groups
  = link_to 'New Group', new_group_path
