<div class="container login_sec">
  <div class="panel panel-default login_sec_box">
    <div class="login_heading">Login</div>
    <div class="panel-body">
      <!--<form class="form-horizontal" role="form">-->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} ) do |f| %>
        <div class="form-group">
          <label class="control-label col-sm-2 login_label" for="email" style="margin-top:20px;">Email:</label>
          <div class="col-sm-10">
            <!--<input type="email" class="form-control login_input" id="email" placeholder="Enter email">-->
            <%#= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control login_input', id: 'email', placeholder: 'Enter email' %>
          </div>
        </div>
        <div class="form-group margin-top25">
          <label class="control-label col-sm-2 login_label" for="pwd" >Password:</label>
          <div class="col-sm-10">
            <!--<input type="password" class="form-control login_input" id="pwd" placeholder="Enter password">-->
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control login_input',  id: 'pwd', placeholder: 'Enter password' %>
          </div>
        </div>
        <div class="form-group margin-top25">
          <div class="col-sm-offset-2 col-sm-10">
            <!--<button type="submit" class="btn btn-default btn_login pull-right">Login</button>-->
            <%= f.submit 'Log in', class: 'btn btn-default btn_login pull-right' %>
          </div>
        </div>

        <div class="form-group margin-top25">
          <label class="pull-right login_forget" for="pwd">
            <!--<a href="forgot_password.html">I forgot my password</a>-->
            <%= link_to 'I forgot my password', new_password_path(resource_name) %>
          </label>
        </div>

      <% end %>

    </div>
  </div>
</div>
