 <!--start first column-->
    <div class="border col-xs-3 first_col">
        <div class="proj_title">
          <h2><span>Group Allocation</span></h2>
        </div>
        <div class="user_ctrl_buttons">
        <ul>
          <li>
            <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-default btn-admin #{get_selected('/user')}"%>
          </li>
          <li>
            <%= link_to 'Manage Students', students_path, :class => "btn btn-default btn-admin #{get_selected('/students')}"%>
          </li>
          <li>
            <%= link_to 'Manage Groups', groups_path, :class => "btn btn-default btn-admin #{get_selected('/groups')}"%>
          </li>
           <li>
            <%= link_to 'Manage Topics', topics_path, :class => "btn btn-default btn-admin #{get_selected('/topics')}"%>
          </li>
           <li>
            <%= link_to 'Log out', destroy_user_session_path, :class => "btn btn-default btn-admin" , :method => :delete%>
          </li>
         </ul>
      </div>
    <!-- first Column end -->


